.app-container {
  display: flex;
}

.sidebar {
  height: calc(100vh - 100px) !important;
}

main {
  flex-grow: 1;
  overflow: auto; /* CHANGÉ: auto au lieu de hidden */
  padding: 20px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  margin: 100px 10px 0 250px;
}

.btn {
  margin-right: 5px;
}

.stages-container {
  width: 100%;
}

.stage-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stage-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  background-color: #dfe6e9;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #b2bec3;
  border-radius: 6px 6px 0 0;
  div{
    margin: 5px 20px;
  }
}

.stage-item-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stage-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* <-- passer à 9 colonnes */
  align-items: center;
  padding: 10px;
  background-color: #d6dad653;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.stage-validate{
    background-color: rgb(207, 232, 207);
}

.external-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}



.rapport-actions {
  display: flex;
  justify-content: center;
}

.no-rapport {
  color: #777;
  font-style: italic;
}

.btn-success {
  background-color: #27ae60;
  color: white;
  border: none;
}
.btn-success i {
  margin-right: 5px;
}

.btn-success:hover {
  background-color: #2ecc71;
}

