<app-user-profile-menu></app-user-profile-menu>
<div class="app-container">
  <div class="sidebar">
    <app-side-bar-etudiant></app-side-bar-etudiant>
  </div>
  <main >
    <h1>Liste des Stages</h1>

    <div class="stages-container">
      <div class="stage-list">
        <div class="stage-row stage-header" >
          <div>Entreprise</div>
          <div>Adresse</div>
          <div >Encadrant</div>
          <div>Sujet</div>
          <!--
          <div>Description</div> -->
          <div>Type</div>
          <div>Etat</div> 
          <div>Rapport</div>
          <div></div>
        </div>

        <div class="stage-item-container" *ngFor="let stage of stages">
          <div class="stage-row " [ngClass]="isStageValidate(stage)" >
            <div>{{ stage.nomEntreprise }}</div>
            <div>{{ stage.adresseEntreprise }}</div>
            <div>{{ stage.nomEncadrant }}</div>
            <div>{{ stage.intituleSujet }}</div>
            <!--
            <div>{{ stage.descriptionSujet }}</div>-->
            <div>{{ stage.typeStage }}</div>
            <div>{{ stage.statutRapport }}</div>

            <!-- Colonne rapport -->
            <div class="rapport-actions">
              <button *ngIf="stage.nomFichierRapport" class="btn btn-sm btn-success" (click)="downloadRapport(stage.id!)">
                <i class="fa fa-download"></i> Télécharger
              </button>
              <span *ngIf="!stage.nomFichierRapport" class="no-rapport">Non disponible</span>
            </div>

            <!-- Colonne actions -->
            <div class="external-actions">
                @if (stage.statutRapport!=="VALIDE") {
                  <button class="btn btn-sm btn-primary" [routerLink]="['/updateStage', stage.id!]">Modifier</button>
                  <button class="btn btn-sm btn-danger" (click)="confirmDelete(stage.id!)">Supprimer</button>
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
