<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
<div class="accueil">
    <div class="accueil">
        <header class="header">
            <div class="logo"><img src="img/logo.png" alt="logo de StageTrack" /></div>
            <nav>
                <ul>
                    <li><a href="#" class="ensa">ENSA</a></li>
                    <li><a href="#">FORMATIONS</a></li>
                    <li><a href="#">VIE ETUDIANTS</a></li>
                    <li><a href="#">INTERNATIONAL</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </nav>
            <!-- "Espaces dédiés" et l'icône de menu déplacés ici -->
            <div class="dropdown-container">
                <a href="#" class="espace">ESPACES INTERNES</a>
                <span class="menu-icon">&#9776;</span>
                <div class="dropdown">
                    <ul class="submenu">
                        <li><a href="#">Espace Étudiants</a></li>
                        <li><a href="#">Espace Professeurs</a></li>
                        <li><a href="#">Espace Administration</a></li>
                    </ul>
                </div>
            </div>
        </header>
    
        <!-- Section de l'image avec les boutons -->
        <div class="image-container">
            <img src="img/accueil.jpeg" class="image">
            
            <div class="buttons">
                <button class="btn">EMPLOIS DU TEMPS</button>
                <button class="btn">CONTACTER NOUS</button>
            </div>
        </div>

        <app-espace-interne></app-espace-interne>
        <app-button-chat></app-button-chat>
    </div>
    
