/******************header****************/
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
   
    background-color: #B8CBD0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Répartit logo, menu et dropdown */
}

.logo {
    width: 78px;
    height: 78px;
    img{
        width: 100%;
        height: 100%;
    }
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 10px;
        min-width: 150px;
    }
}

.menu-icon {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.2em;
    cursor: pointer;
}



.submenu.active {
    display: block;
}

.submenu li {
    margin: 5px 0;
}

.submenu li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

.submenu li a:hover {
    background-color: #f0f0f0;
}
.espace{

    text-decoration: none;
    color: black;
}
.espace:hover{
    color: #007bff;;
}
/***********image***************************/
/***********IMAGE + BOUTONS***********/
.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Pleine hauteur de l'écran */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Position des boutons */
.buttons {
    position: absolute;
    bottom: 20%; /* Distance du bas de l'image */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

/* Style des boutons */
.btn {
    background-color: #27C7D4;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.btn:hover {
    color: #333;
    background-color: #B8CBD0;
    transform: scale(1.1);
}





